/node_modules
fastify server.js
/graphql/text.txt
/graphql/text
/graphql/new schema
/graphql/pubsub.js
/graphql/updateUser.js
/subscription
/cors
/db/.env
/locations.json
/graphql/new schema.js
/new graphql
/try.js

