/node_modules
fastify server.js
/graphql/text.txt
/graphql/text
/graphql/new schema
/graphql/pubsub.js
/graphql/updateUser.js
/subscription
/helper.js
/cors
/db/.env
/locations.json
/graphql/alternative/mutation funcs.js
/graphql/alternative/query funcs.js
/oldServer.js